/*---------------------- Index styles ------------------------------------*/

.header,
.form-group,
.btn,
.footerText {
    color: white;
}

#formLanding {
    width: 40%;
    margin: auto;
}

.btn-group {
    width: 40%;
}

.dropdown-menu {
    text-align: center;
}

hr {
    background-color: gray;
}

/*---------------------------- Chatroom styles ------------------------------------*/
span {
    color: white;
}

ul {
    color: white;
    font-weight: bold;
}

.nav-item {
    color: white;
    font-weight: normal;
}

p {
    font-weight: normal;
}

img {
    display: inline-flex;
}

li {
    width: 100%;
    list-style-type: none;
    margin-bottom: 5px;
}

button {
    margin-right: 30px;
}

#chat-style {
    position: absolute;
}

.received {
    color: #fd9ac8;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

#msgReceived {
    width: 280px;
    float: left;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #905fa8;
    border-radius: 3px;
    color: white;
    margin-top: 15px;
    padding: 5px 10px 5px 12px;
    border-style: none;
}

#msgSent {
    width: 280px;
    float: right;
    box-sizing: border-box;
    background-color: #fd9ac8;
    border-radius: 3px;
    color: white;
    padding: 5px 10px 5px 12px;
    border-style: none;
    margin-right: 5%;
    margin-top: 10%;
}

.sidebar-sticky {
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 48px);
}