/*---------------------- Index styles ------------------------------------*/

body {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header {
    color: white;
}

.form-group {
    color: white;
}

#formLanding {
    width: 40%;
    margin: auto;
}

.btn-group {
    width: 40%;
}

.dropdown-menu {
    text-align: center;
}

.btn {
    color: white;
}

hr {
    background-color: gray;
}

.footerText {
    color: white;
}

/*---------------------------- Chatroom styles ------------------------------------*/

span {
    color: white;
}

ul {
    color: white;
    font-weight: bold;
}

.nav-item {
    color: white;
    font-weight: normal;
}

p {
    font-weight: normal;
}

img {
    display: inline-flex;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

button {
    margin-right: 30px;
}

.chat-messages {
    position: absolute;
    overflow-y: auto;
    z-index: 1;
}

.messages-received {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #905fa8;
    border-radius: 3px;
    color: white;
    margin-top: 15px;
    margin-left: 380px;
    padding: 5px 10px 5px 12px;
    border-style: none;
}

.messages-sent {
    box-sizing: border-box;
    background-color: #fd9ac8;
    border-radius: 3px;
    color: white;
    margin-top: 15px;
    margin-left: 1080px;
    margin-right: 45px;
    padding: 5px 10px 5px 12px;
    float: right;
    border-style: none;
}

#sidebarMenu {
    z-index: 1;
}

.sidebar-sticky {
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 48px);
}