/*---------------------- Index styles ------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff
}

#user {
    width: 40%;
    margin: auto;
    text-align: center;
}

#rooms {
    padding: 20px 0px 0px;
}

#dropdown {
    background: none;
    margin: auto;
    cursor: pointer;
    width: 40%;
    text-align: center;
    border-radius: 3px;
    border: none;
}

#dropdown-options {
    width: 100%;
    color: #000000;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    z-index: 1;
    margin: 0px 0px 20px;
    text-align: center;
    padding: 5px;
}

hr {
    margin: auto;
    background-color: rgb(136, 135, 135)
}

submit-button {
    margin: 20px;
}

.footer-text {
    padding: 10px;
}

/*---------------------------- Chatroom styles ------------------------------------*/
#header {
    z-index: 1;
}

h6 {
    margin: 70% 0% 0%;
}

ul {
    font-weight: bold;
}

.nav-item {
    font-weight: normal;
}

p {
    font-weight: normal;
}

img {
    display: inline-flex;
}

li {
    width: 100%;
    list-style-type: none;
    margin: 1% 0%;
}

button {
    margin: 0px 30px;
}

#msgReceived {
    width: 100%;
    box-sizing: border-box;
    background-color: #905fa8;
    border-radius: 3px;
    padding: 5px 10px 5px 12px;
    border-style: none;
    z-index: -1;
}

#sidebarMenu {
    position: fixed;
}

.sidebar-sticky {
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    z-index: 2;
}